name: Build

on: [push]

jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
    - name: Obtain latest version of the repository
      uses: actions/checkout@v6
    - name: Set up Python 3
      uses: actions/setup-python@v6
      with:
        python-version: '3.14.2'
    - name: Install requirements with PIP
      run: pip install -r requirements.txt
    - name: Install pyinstaller
      run: pip install git+https://github.com/pyinstaller/pyinstaller.git
    - name: Build InstallerReady
      run: pyinstaller installerready.spec
    - name: Publish Build Artifacts
      uses: actions/upload-artifact@master
      with:
        name: '${{ matrix.os }}-GUI'
        path: dist
